@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alkaline";
  src: url("../public/alkaline.otf") format("otf");
}

* {
  font-family: 'Inter', sans-serif;
}

:root {
  background-color: black;
}

#brand_name {
  font-family: "Alkaline";
}
